* {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(70, 94, 154);
}

.container {
    margin: 12%;
    line-height: 50px;
}

.container h1 {
    color: white;
}

.highlight {
    color: rgb(24, 160, 51);
    border-bottom: 2px solid rgb(24, 160, 51);
}

.input_field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 500px;
    height: 60px;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 30px;
    margin-bottom: 40px;
    background: white;
}

.display {
    flex: 1;
    height: 60px;
    font-size: 20px;
    border-radius: 5px;
    border: 0;
    outline: 0;
}

.input_field img {
    width: 40px;
    height: 45px;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.input_field img:hover {
    background: rgb(194, 190, 190);
}

button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    color: white;
    width: 100%;
    max-width: 220px;
    height: 55px;
    padding: 15px;
    font-size: 18px;
    font-weight: 500;
    gap: 1px;
    background: rgb(24, 160, 51);
    border-radius: 7px;
    transition: all 0.3s;
}

button:hover {
    background: rgb(19, 130, 42);
    transform: scale(1.03);
}

button img {
    width: 22px;
    height: 22px;
    position: static;
}